wheel           # For better installations
pyaml
numpy
pyzmq
locust==2.31.8  # As of 2024-10-09
mimesis==11.1.0 # Last python3.9 compatible version
yq              # For parsing Yaml files
p4python        # As of 2024 this is best way to install p4python
