# Python requirements for p4benchmark to install via pip3
# Often easiest to install (either globally or user specific): 
#   pip3 install -r requirements.txt
#   pip3 install --user -r requirements.txt
wheel           # For better installations
pyaml
numpy
pyzmq
locust==2.31.8  # As of 2024-10-09
mimesis==11.1.0 # Last python3.9 compatible version
yq              # For parsing Yaml files
p4python        # As of 2024 this is best way to install p4python
