- name: Run benchmark script on client
  hosts: bench_clients
  remote_user: '{{ remote_user }}'
  tasks:

  - include: set_facts.yml

  - name: Run locust workers
    shell: bash -x run_locust_worker.sh
    args:
      chdir: "{{ bench_dir }}"
    environment:
      P4BENCH_NUM_WORKERS: "{{ num_workers }}"
      P4BENCH_SCRIPT: "{{ p4bench_script }}"
      P4BENCH_HOST: "{{ p4bench_host }}"
      ANSIBLE_HOSTS: "{{ lookup('env', 'ANSIBLE_HOSTS') }}"

