- name: Remove p4benchmark logs on client
  hosts: bench_clients
  remote_user: '{{ remote_user }}'
  tasks:

    - name: Find files to delete
      find:
        paths: "{{bench_dir}}"
        # Pattern defined in run_worker.sh
        patterns: worker*.out
      register: files_to_delete

    - name: Remove found files
      file:
        path: "{{ item.path }}"
        state: absent
      with_items: "{{ files_to_delete.files }}"
